<html>
<head>
	<title>Video From Facebook</title>
	<link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
	<script src="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
	<style type="text/css">
		*{
			margin:0 auto;
		}
		div.video{
			float:left;
			margin-right:5px;
			border: 1px solid #dadada;
		}
	</style>
</head>
<body ng-app="myApp" ng-controller="myCtrl">
	<div class="container">
		<div class="video" ng-repeat="video in videos">
			<video width="333" height="200" controls>
				<source ng-src="{{video.source | trustUrl}}" type="video/mp4" />
			</video>
		</div>
		<center><button class="btn btn-primary" ng-click="loadMore()">More</button></center>
	</div>
	<script src="http://ajax.googleapis.com/ajax/libs/angularjs/1.4.8/angular.min.js"></script>
	<script>
		angular.module('myApp', []).controller('myCtrl', function ( $scope, $http, $sce) {	

			var access_token = "EAAEIqKmxtwMBACkZCwhxZAtO1vzT7LFoVLeTMLPqEshlwZBtCadGpDdnRWSPriDgVyfPaZCzKMnyhZCkDWwabZBtEgG0HOTSSdZA9ls6GTNaVyJL4IBFXC6scDuLZBa33Wj1N1tbwaoz1i2oCdIm5SECCgt6WZCSfjl5pZA9e3odo58bYa0xScIkAB8lyBa4qZCBEQZD";

			var baseUrl =  "https://graph.facebook.com/v2.7/1442924972607357/videos?access_token=" + access_token + "&fields=source%2Cdescription%2Ctitle&limit=9";

			$http({
				url: baseUrl,
				method: 'GET'
			}).then(function(response){
				$scope.videos = response.data.data;

				console.log($scope.videos);
			}, function(response){
				console.log(response);
			});

			$scope.loadMore = function(){
				alert(1);
			}
		}).filter("trustUrl", ['$sce', function ($sce) {
	        return function (source) {
	            return $sce.trustAsResourceUrl(source);
	        };
    	}]);
	</script>


</body>
</html>